{% extends "base.html" %}


{% block calltoaction %}
{% endblock %}

{% block content %}


 <div class="panel panel-default">
 <div class="panel-heading"> <strong class="">Login3</strong>

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}


<form  method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}


<table>
<tr>
    <td class="form-control input-lg" >{{ form.username.label_tag }}</td>
    <td class="form-control input-lg">{{ form.username }}</td>
</tr>
<tr>
    <td class="form-control input-lg" >{{ form.password.label_tag }}</td>
    <td class="form-control input-lg">{{ form.password }}</td>
</tr>
</table>


    <div class="form-group">
        <button class="btn btn-primary btn-lg btn-block">Sign In</button>
        <span><p><a href="#">Need help?</a></p></span>
        <span class="pull-center"><p><a href="#">New Registration</a></p></span>
   </div>
</form>
 </div>
  </div>
   </div>

{% endblock %}