{% extends "base.html" %}

{% block carousel %}
{% endblock %}

{% block calltoaction %}
{% endblock %}


{% block content %}
    <div class="col-md-2 col-md-offset-5 ">
    <div class="row">
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form class="col-md-12" method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}
<div class="form-group">
{% block footer %}
    {% endblock %}

        <!-- Jumbotron -->
        <div class="jumbotron">
            <h2>Login</h2>
        </div>


    <input type="text" name="username" class="form-control input-lg" placeholder="Username">
    </div>
    <div class="form-group">

        {% if not form.this_is_the_login_form.errors %}{{ form.password.errors }}{% endif %}
        <input type="password" name="password" class="form-control input-lg" placeholder="Password">
    </div>


    <div class="form-group">
        <button class="btn btn-primary btn-lg btn-block">Sign In</button>
        <span><a href="#">Need help?</a></span>
        <span class="pull-right"><a href="#">New Registration</a></span>
   </div>
    </form>
    </div>

    </div>


{% endblock %}

