{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block calltoaction %}
{% endblock %}

{% block content %}
<div class="container marketing">
    <div class="row">
            <div class="col-sm-6 col-sm-offset-5 text-align-center">
                <p class='text-align-center lead'>You have successfully logged out.</p><p class='text-align-center lead'><a href="{% url 'auth_login' %}">Login</a></p></p>
            </div>
    </div>
</div>
{% endblock %}