{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load staticfiles %}
{% block calltoaction %}
{% endblock %}

{% block content %}
    <div class='row'>
<div class='col-sm-6 col-sm-offset-3'>
<h1>Password Reset</h1>
<p class='lead'>Reset your password using your email below.</p>
<form method="post" action=".">
  {% csrf_token %} 
    {{ form|crispy }}

  <input class='btn btn-primary' type="submit" value="{% trans 'Reset' %}" />
</form>
</div>
{% endblock %}