{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block calltoaction %}
{% endblock %}

{% block content %}
    <div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
        <p class='lead text-align-center'>{% trans "Email with password reset instructions has been sent." %}</p>
    </div>
    </div>
{% endblock %}