{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block calltoaction %}
{% endblock %}

{% block content %}

<p>{% trans "Password reset successfully" %}</p>

<p><a href="{% url 'auth_login' %}">{% trans "Log in" %}</a></p>

{% endblock %}