{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block calltoaction %}
{% endblock %}

{% block content %}

{% if validlink %}
<div class='row'>
    <div class='col-sm-6 col-sm-offset-5'>
        <form method="post" action=".">
        {% csrf_token %}
        {{ form.as_p }}

        <input type="submit" value="{% trans 'Submit' %}" />
        </form>

{% else %}

        <p>{% trans "Password reset failed" %}</p>

{% endif %}
    </div>
</div>

{% endblock %}