{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block calltoaction %}
{% endblock %}

{% block content %}
    <div class='row'>
        <div class='col-sm-6 col-sm-offset-3'>
	        <p>{% trans "Registration is currently closed." %}</p>
        </div>
    </div>

{% endblock %}