{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block calltoaction %}
{% endblock %}

{% block content %}
<div class='row'>
<div class='col-sm-6 col-sm-offset-4 '>
<h1>Register for free!</h1>
<form method="post" action=".">
  {% csrf_token %}
  {{ form|crispy }}
    <div class='col-sm-6 col-sm-offset-1 '>
        <div class="jumbotron">
             <input class='btn btn-block btn-primary ' type="submit" value="{% trans 'Join' %}" />
        </div>
    </div>
</form>
</div>
</div>

<hr/>
<div class='row'>
    <div class="jumbotron">
        <div class='col-sm-6 col-sm-offset-3 text-align-center '>
            <p>Need to <a href="{% url 'auth_login' %}">Login</a>?</p>
        </div>
    </div>
</div>


{% endblock %}
