{% extends "backend_base.html" %}

{% block sidemenu %}
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="/accounts/profile"><i class="fa fa-fw fa-dashboard"></i> Applications</a>
                    </li>
                    <li>
                        <a href="/accounts/catalog"><i class="fa fa-fw fa-bar-chart-o"></i> Catalog</a>
                    </li>


                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Marketing <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="collapse">
                            <li>
                                <a href="#">Emails</a>
                            </li>
                            <li>
                                <a href="#">SMS</a>
                            </li>
                            <li>
                                <a href="#">Analytics</a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
        {% endblock %}

{% block content %}

 {% for app in object_list %}


                    <div class="col-lg-2 text-center">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <a href="{% url 'application-detail' app.pk %}" ><p> {{  app.name }}</p></a>
                                    <img class="first-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==">
                                    <p>{{ app.description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>



  {% endfor %}



{% endblock %}