{% extends "base.html" %}

{% load staticfiles %}

{% block calltoaction %}
    <!-- Jumbotron -->
        <div class="jumbotron">
            <h1>IT by passion!</h1>

            <p class="lead">Little description.</p>

            <p><a class="btn btn-lg btn-success" href="#" role="button">Get started today</a></p>
        </div>
{% endblock %}


                            {% block menucontent %}
                                <li {% if category.title == "hosting" %}class="active"{% endif %} > <a href="/category/applications">Applications</a></li>
                                <li {% if category.title == "support" %}class="active"{% endif %} ><a href="/category/services">Services</a></li>
                                <li><a href="/category/infogerance">Infogerance</a></li>
                                <li ><a href="/category/about">About</a></li>
                                <li><a href="/accounts/login">Login</a></li>

                            {% endblock %}


 {% block content %}
    <!-- Wrap the rest of the page in another container to center all the content. -->
{% for post in object_list %}
    <div class="container marketing">
        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <div class="container marketing" >
                <img class="img-circle"
                     src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                     alt="Generic placeholder image" width="140" height="140">

                <h2>{{ post.title }}</h2>

                <p>{{ post.body }}</p>

                </div>
        </div>
    </div>
 </div>
{% endfor %}

 {% endblock %}


