{% extends "backend_base.html" %}



{% block content %}
    <div class="jumbotron">
        <h1>{{ object.name }}</h1>
        <p>Type:{{ object.type }}</p>
        <p>Description:{{ object.description }}</p>
        <p>Published: {{ object.created|date }}</p>
        <p>Date: {{ now|date }}</p>
        {% block calltoaction %}
        <!-- Jumbotron -->

            <form action="{{ request.path|urlencode }}">
            <p> <a class="btn btn-lg btn-success center-block" href="{%   url 'create_application' object.pk %}" role="button"><input hidden="" type="button">Launch your {{ object.name }}</a></p>
            </form>
    </div>
        {% endblock %}
{% endblock %}

