{% extends "base.html" %}
{% load staticfiles %}



 {% block content %}
    <!-- Wrap the rest of the page in another container to center all the content. -->
{% for post in object_list %}
    <div class="container marketing">
        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <div class="container marketing" >
                    <img class="img-circle"
                     src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                     alt="Generic placeholder image" width="140" height="140">

                    <h2>{{ post.title }}</h2>

                    <p>{{ post.body }}</p>
                 </div>
            </div>
        </div>
    </div>
                {% endfor %}


 {% endblock %}
